.gallery {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;

    .image_wrapper {
        position     : relative;
        margin       : 5px;
        border-radius: 6px;
        overflow     : hidden;
        box-shadow   : 0 3px 8px rgba(0, 0, 0, 0.2);
        transition   : all .2s ease;
        cursor       : pointer;
        filter       : blur(1%);

        .image_placeholder {
            position        : absolute;
            width           : 100%;
            height          : 100%;
            opacity         : .9;
            background-color: #242323;
        }

        &.active {
            z-index: 10;
        }

        &:hover {
            transform: scale(1.02);
            z-index  : 2;
            filter   : blur(0);
        }

        img {
            display : block;
            position: relative;
            z-index : 1;

            &:hover {
                filter    : brightness(125%);
                box-shadow: 2px 2px 8px rgba(0, 0, 0, .8);
            }
        }
    }
}